<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="./css/formationListStyle.css">
	<title>Formations</title>
</head>
<body>
	<h1>IT Academy</h1>
	<h2>Formations disponibles</h2>

	<div>
        <button type="button" class="action-button" onclick="window.location='/cart'">Voir le panier</button>
        
        <button type="button" class="action-button" onclick="window.location='/login'">Se connecter</button>
    </div>

	<table id="formation-table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Début</th>
            <th>Fin</th>
        </tr>
        
		<% formations.forEach(formation=> { %>
            <tr>
                <td><%= formation.idformation %></td>
                <td><%= formation.name %></td>
                <td><%= formation.price %></td>
                <td><%= formation.startdate %></td>
                <td><%= formation.enddate %></td>
                <td>
                    <button id="subscribe-button" onclick="window.location='/formations/subscribe/<%= formation.idformation %>'">S'inscrire</button>
                </td>
            </tr>
		<% }) %>
    </table>

    <p><%= confirmationMessage %> </p>
</body>
</html>