<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="./css/formationListStyle.css">
	<title>Formations</title>
</head>
<body>
	<h1>IT Academy</h1>
	<h2>Formations disponibles</h2>

	<div>
        <a href="/cart">
            <button type="button" class="action-button">Voir le panier</button>
        </a>
        <a href="/login">
            <button type="button" class="action-button">Se connecter</button>
        </a>
    </div>

	<table id="formation-table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Début</th>
            <th>Fin</th>
        </tr>
        
		<% formations.forEach(formation=> { %>
            <tr>
                <td><%= formation.idformation %></td>
                <td><%= formation.name %></td>
                <td><%= formation.price %></td>
                <td><%= formation.startdate %></td>
                <td><%= formation.enddate %></td>
                <td>
                    <a href="/formations/subscribe/<%= formation.idformation %>">
                        <button id="subscribe-button">S'inscrire</button>
                    </a>
                </td>
            </tr>
		<% }) %>
    </table>
</body>
</html>